<body>
  <h1>Información de la solicitud y la persona</h1>
  <section class="container">
    <form [formGroup]="peopleForm">

      <div class="content">
        <div class="person-info">

          <div class="detalles">

            <div class="parte_izquierda">
              <div class="form-group">
                <span>Nombre</span>
                <input type="text" class="form-control"
                  formControlName="peo_name"
                  readonly />
              </div>

              <div class="form-group">
                <span>Apellido</span>
                <input
                  type="text"
                  class="form-control"
                  formControlName="peo_lastName"
                  readonly />
              </div>

              <div class="form-group">
                <span>Correo Electronico:</span>
                <input type="email" class="form-control"
                  formControlName="peo_mail" readonly />
              </div>

              <div class="form-group">
                <span>Teléfono</span>
                <input type="number" class="form-control"
                  formControlName="peo_phone" readonly />
              </div>

              <div class="form-group">
                <span>Ubicación</span>
                <input
                  name
                  id="ubicacion"
                  class="form-control"
                  formControlName="peo_adress"
                  readonly />

              </div>
            </div>
          </div>

          <div class="parte_derecha">

            <select name id class="form-select">
              <option value="1"
                style="background-color: rgb(236, 188, 31); color: white;">Pendiente</option>
              <option value="2"
                style="background-color: rgb(49, 145, 255); color: white;">En
                proceso</option>
              <option value="3"
                style="background-color: rgb(0, 214, 0); color: white;">Aprovado</option>
              <option value="4"
                style="background-color: rgb(255, 66, 66); color: white;">No
                aprovado</option>
              <option value="0"
                style="background-color: rgb(255, 66, 66); color: white;">Eliminar</option>
            </select>
            <img [src]="link_imagen_people" alt="imagen" />

            <div class="actions">
              <button class="btn btn-success">Contactar</button>
              <button class="btn btn-primary">Ver perfil</button>
            </div>
          </div>

        </div>

        <button class="back-button" (click)="nvRegresar()">Volver</button>
      </div>
    </form>
  </section>
