section {
  background: lightgray;
  width: 80%;
  padding: 20px 10px;
  margin: 20px auto;
  box-shadow: 2px 2px 10px black;

}

section h3 {
  color: seagreen;
  text-align: center;
}

section .contenido .style_content {
  background: transparent;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;

}

section .contenido .barra_estado {
  width: 50%;
  margin: auto;
}

section .contenido .barra_estado select {
  background: seagreen;
  box-shadow: 2px 2px 10px black;
  color: white;
  text-align: center;
  border: none;
}


section .contenido .parte_izquierda {
  background: transparent;
  flex: 1;
  padding: 20px;
}

section .contenido .parte_derecha {
  flex: 2;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section .contenido .parte_derecha img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 5px black;
}


section .contenido .parte_derecha div {
  background: transparent;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

section .contenido .parte_derecha div div input {
  width: 40%;
}

section .contenido .parte_derecha div div a {
  width: 40%;
}

@media (max-width: 768px) {
  section .contenido .style_content {
    flex-direction: column;
    gap: 10px;
  }

  section .contenido .parte_derecha div div {

    width: 100%;
    flex-wrap: wrap;

  }

  section .contenido .parte_derecha div div input {
    margin-top: 10px;
    width: 80%;
  }

  section .contenido .parte_derecha div div a {
    margin-top: 10px;
    width: 80%;
  }
}
