.idPersonaTH{
display: none;
}

.idPersonaTB{
display: none;
}

th{
  background-color: rgb(14, 80, 23);
  color: white;
}

td{
  background-color: rgba(174, 255, 181, 0.466);
}

.btn{
  width: 120%;
}

.notificacion::before{
  position: relative;
  content: '*';
  color: red;
  font-size: 30px;
  text-shadow: 2px 2px 5px black;
}
