<app-header></app-header>


<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" (click)="cambioMenuLocal(1)">Solicitud de certificados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="cambioMenuLocal(2)">Solicitud para ser proveedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="cambioMenuLocal(3)">Cambio de contraseña</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="container" *ngIf="navegacion_local == 1">
<div class="container">
  <table class="table table-hover">
    <thead class="contenedor">
      <tr>
        <th class="idPersonaTH">persona id</th>
        <th>Tipo de Solicitud</th>
        <th>Telefono</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Descripción</th>
        <th>Ubicación</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of filteredRequests">
      <tr>
        <td class="idPersonaTB">{{item.people_id}}</td>
        <td>{{ item.req_type }}</td>
        <td>{{ item.peo_phone }}</td>
        <td>{{ item.peo_name }}</td>
        <td>{{ item.peo_lastname }}</td>
        <td>{{ item.req_description }}</td>
        <td>{{ item.peo_adress }}</td>
        <td>{{ item.use_rol }}</td>
        <td *ngIf="item.req_status === 0"
          style="background-color: rgb(179, 22, 22); color: white;">Eliminado</td>
        <td *ngIf="item.req_status === 1"
          style="background-color: rgb(165, 129, 9); color: white;">Pendiente</td>
        <td *ngIf="item.req_status === 2"
          style="background-color: rgb(14, 61, 114); color: white;">En
          proceso</td>
        <td *ngIf="item.req_status === 3"
          style="background-color: rgb(19, 119, 19); color: white;">Aprobado</td>
        <td *ngIf="item.req_status === 4"
          style="background-color: rgb(179, 22, 22); color: white;">No
          aprobado</td>
        <td>
          <a class="btn btn-success" style="width: 100%; height: 100%;" (click)="nvEditRequest(item.request_id)">ver</a>
        </td>
        <div *ngIf="item.req_status == 1" class="notificacion"></div>
      </tr>
    </tbody>
  </table>
</div>


</section>

<section class="container" *ngIf="navegacion_local == 2">
  <div class="container">
    <table class="table table-hover">
      <thead class="contenedor">
        <tr>
          <th class="idPersonaTH">persona id</th>
          <th>Tipo de Solicitud</th>
          <th>Telefono</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Descripción</th>
          <th>Ubicación</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of filteredRequests">
          <td class="idPersonaTB">{{item.people_id}}</td>
          <td>{{ item.req_type }}</td>
          <td>{{ item.peo_phone }}</td>
          <td>{{ item.peo_name }}</td>
          <td>{{ item.peo_lastname }}</td>
          <td>{{ item.req_description }}</td>
          <td>{{ item.peo_adress }}</td>
          <td>{{ item.use_rol }}</td>
          <td *ngIf="item.req_status === 0"
          style="background-color: rgb(179, 22, 22); color: white;">Eliminado</td>
        <td *ngIf="item.req_status === 1"
          style="background-color: rgb(165, 129, 9); color: white;">Pendiente</td>
        <td *ngIf="item.req_status === 2"
          style="background-color: rgb(14, 61, 114); color: white;">En
          proceso</td>
        <td *ngIf="item.req_status === 3"
          style="background-color: rgb(19, 119, 19); color: white;">Aprobado</td>
        <td *ngIf="item.req_status === 4"
          style="background-color: rgb(179, 22, 22); color: white;">No
          aprobado</td>
          <td>
            <a class="btn btn-success" (click)="nvEditRequest(item.request_id)">ver</a>
          </td>
          <div *ngIf="item.req_status == 1" class="notificacion"></div>
        </tr>
      </tbody>
    </table>

  </div>
  </section>

  <section class="container" *ngIf="navegacion_local == 3">
    <div class="container">
      <table class="table table-hover">
        <thead class="contenedor">
          <tr>
            <th class="idPersonaTH">persona id</th>
            <th>Tipo de Solicitud</th>
            <th>Telefono</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Descripción</th>
            <th>Ubicación</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of filteredRequests">
            <td class="idPersonaTB">{{item.people_id}}</td>
            <td>{{ item.req_type }}</td>
            <td>{{ item.peo_phone }}</td>
            <td>{{ item.peo_name }}</td>
            <td>{{ item.peo_lastname }}</td>
            <td>{{ item.req_description }}</td>
            <td>{{ item.peo_adress }}</td>
            <td>{{ item.use_rol }}</td>
            <td *ngIf="item.req_status === 0"
            style="background-color: rgb(179, 22, 22); color: white;">Eliminado</td>
          <td *ngIf="item.req_status === 1"
            style="background-color: rgb(165, 129, 9); color: white;">Pendiente</td>
          <td *ngIf="item.req_status === 2"
            style="background-color: rgb(14, 61, 114); color: white;">En
            proceso</td>
          <td *ngIf="item.req_status === 3"
            style="background-color: rgb(19, 119, 19); color: white;">Aprobado</td>
          <td *ngIf="item.req_status === 4"
            style="background-color: rgb(179, 22, 22); color: white;">No
            aprobado</td>
            <td>
              <a class="btn btn-success" (click)="nvEditRequest(item.request_id)">ver</a>
            </td>
            <div *ngIf="item.req_status == 1" class="notificacion"></div>
          </tr>
        </tbody>
      </table>

    </div>
    </section>
