<div class="header_inp">
  <app-header></app-header>
</div>

<section>
  <h3>Productos clasificados por {{ title_category}}</h3>
  <div>

    <input
      class="form-control me-2"
      type="search"
      [(ngModel)]="busqueda_clave"
      (input)="barraBusquedaProductos()"
      placeholder="Buscar producto por categoría"
      aria-label="Search" />
  </div>

  <div  *ngIf="productArray.length>0">

<div class="main_product">
    <div class="card" *ngFor="let item of productArray">

      <div class="cont_imag">
        <img [src]="item.pro_image" class="card-img-top" alt />
      </div>

      <div class="card_body">
        <h5 class="card-title">
          <strong>{{ item.pro_name }}</strong>
        </h5>
      </div>
      <div class="info_product" >
        <li class="list-group-item">
          Unidad: <span> {{ item.pro_unit }} </span>
        </li>

        <li class="list-group-item">
          Ubicación:
          <span>
            {{ item.peo_adress }}
          </span>
        </li>
        <li class="list-group-item" *ngIf="item.pro_price <= 0">
          <span style="font-size: 30px">Trueque</span>
        </li>
        <li class="list-group-item" *ngIf="item.pro_price > 0">
          <span style="font-size: 30px">$ {{ item.pro_price }} </span>
        </li>
      </div>
      <div class="card-body" style="width: 100%">
        <a
          style="width: 90%"
          class="btn btn-success"
          (click)="verproductoIndividual(item.product_id)">
          ver
        </a>
      </div>

      <div *ngIf="item.pro_certs == 'certificado'" class="mostrar_certificado">

      </div>

    </div>
</div>

  </div>

  <div class="without_product" *ngIf="productArray.length <= 0">
  <h5>Por el momento no hay productos relacionados</h5>
  <input type="button" value="volver al inicio" (click)="navVolverMain()" class="btn btn-outline-primary">
  </div>

</section>
