<app-loading *ngIf="!bandera_barra_carga"></app-loading>

<div *ngIf="bandera_barra_carga" class="main_container">

  <div class="form-group">
  <h2 style="color: seagreen; text-align: center;">Restablecer contraseña</h2>
  </div>

  <div class="form-group">
    <input type="password" placeholder="Ingrese su nueva contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" (input)="verificarContrasenas()" required class="form-control" minlength="4">
  </div>
  <div *ngIf="password.length>0 && password.length<4" class="alert alert-danger">
    La contraseña debe ser más larga
  </div>

  <div class="form-group">
    <input type="password" placeholder="Repita su nueva contraseña" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" (input)="verificarContrasenas()" required class="form-control" minlength="4">
  </div>
  <div *ngIf="!bandera_confirmar_password && confirmPassword" class="alert alert-danger">
    Las contraseñas no coinciden.
  </div>
  <div class="form-group">
    <input type="button" value="Restablecer contraseña" (click)="actualizarNuevaPassword()" class="btn btn-primary form-control" [disabled]="!bandera_confirmar_password">

  </div>

</div>
