<app-header></app-header>

<div class="container">

  <div class="container_imagen">
    <img  [src]="link_imagen_producto" class="link_imagen_producto" alt="producto">


  </div>

  <form [formGroup]="productForm" (ngSubmit)="actualizarProductos(productForm.value)">




    <div class="formulario_style">



      <div class="form-group">
        <label for="pro_name">Nombre:</label>
        <input
          id="pro_name"
          type="text"
          formControlName="pro_name"
          class="form-control"
          placeholder="ingrese el nombre de su producto"
        />
      </div>
      <div
      *ngIf="productForm.get('pro_name')?.touched && productForm.get('pro_name')?.errors?.['required']"
      class="alert alert-danger"
    >
      El Nombre del producto es requerido
    </div>


      <div class="form-group">
        <label for="pro_unit">Unidad de venta:</label>

        <select formControlName="pro_unit" class="form-select">
          <option value="Libra">Libra</option>
          <option value="Kg">Kilogramo</option>
          <option value="Caja">Caja</option>
          <option value="Lote">Lote</option>
          <option value="Unidad">Unidad</option>
          <option value="otra">Otra</option>
        </select>
      </div>

      <div class="form-group">
        <label for="pro_price">Precio: (COP)</label>
        <input
          id="pro_price"
          type="number"
          formControlName="pro_price"
          class="form-control"
          placeholder="Ingrese el precio, sin puntos ni comas"
        />

      </div>
      <div
      *ngIf="productForm.get('pro_price')?.touched && productForm.get('pro_price')?.errors?.['required']"
      class="alert alert-info"
    >
      El precio del producto es requerido, si es trueque ponga 0 (cero)
    </div>
    <div
      *ngIf="productForm.get('pro_price')?.touched && productForm.get('pro_price')?.errors?.['pattern']"
      class="alert alert-danger"
    >
      Ingrese el precio solo con números
    </div>

      <div class="form-group">
        <label for="pro_type">tipo de venta:</label>
        <select formControlName="pro_type" id="pro_type" class="form-select">
          <option value="venta">Venta</option>
          <option value="venta o trueque">Venta / Trueque</option>
          <option value="trueque">Trueque</option>
        </select>
      </div>

      <div class="form-group">
        <label  for="pro_certs">Certificado:</label>

        <select *ngIf="rolUser == 'admin'" formControlName="pro_certs" class="form-select">
          <option value="en transición">En transición</option>
          <option value="certificado">Certificado</option>
        </select>

        <input  *ngIf="rolUser == 'productor'" formControlName="pro_certs" class="form-control" readonly >

      </div>


      <div class="form-group">
        <label for="pro_description">Descripción:</label>
        <input
          formControlName="pro_description"
          class="form-control"        >

      </div>
      <div
      *ngIf="productForm.get('pro_description')?.touched && productForm.get('pro_description')?.errors?.['required']"
      class="alert alert-danger"
    >
      Es necesario poner una descripción sobre el producto
    </div>



      <div class="form-group">
        <label for="categories_id">Categoria: </label>
        <select class="form-select" formControlName="categories_id">
          <option *ngFor="let item of fkCategoryList" [value]="item.id">
            {{ item.cat_name }}
          </option>
        </select>
      </div>

    </div>

    <button style="margin-top: 15px;" type="submit" class="btn btn-success">Guardar cambios</button>
  </form>


</div>
