.people {
  width: 80%;
  margin: auto;
  padding: 10px;
}
.parte_izq {
  display: flex;
  justify-content: space-around;

}

.parte_izq{
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 1px 1px 5px gray;
}

.form-group label{
  color: seagreen;
  font-size: 20px;
  width: 200px;
}
.form-group textarea{
  width: 100%;
  border: none;
}

.peopleForm{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-control{
width: 200px;
border: none;
font-size: 18px;
background: transparent;
}

.providerForm{
  padding: 10px;
  display: flex;;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;}

.providerForm div{
  flex: 1;
}

.providerForm .description{
  flex: 2;
}

.link_imagen_people {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}
.rating_container {
  justify-content: left;
  display: flex;
  gap: 5px;
  font-size: 40px;
}
.rating_container .star {
  cursor: default;
  text-decoration: none;
  color: darkgray;
  text-shadow: 2px 2px 5px black;
}



.barra_busqueda {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background: transparent;
}
.barra_busqueda input {
  width: 60%;
  margin-right: 0px;
}
.product_section{
  margin: 20px auto;
  width: 80%;
}
.main_product {
  margin: auto;
  background: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px black;
  gap: 20px;
}
.card {
  width: 18%;
  height: 55vh;
  text-align: center;
  align-items: center;
  background: white;
  box-shadow: 5px 5px 18px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
.card .cont_imag{
  width: 100%;
  min-height: 18vh;
  max-height: 18vh;
  overflow: hidden;
  border-radius: 5px solid transparent;
  box-shadow: 1px 1px 5px gray;
  background: transparent;
}
.card .cont_imag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card_body{
  height: 10vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  background: transparent;
}
.card .info_product{
  width: 100%;
  text-align: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  color: seagreen;
}
.mostrar_certificado::before {
  content: "Agroecológico";
  font-style: italic;
  position: absolute;
  top: 12%;
  left: -10%;
  padding: 5px 10px;
  font-size: 10px;
  background: seagreen;
  color: white;
  box-shadow: 2px 2px 20px seagreen;
  transform: rotate(-40deg);
  transform-origin: top left;
}
@media screen and (max-width: 768px) {


  form {
    text-align: left;
  }
  form .form-control {
    text-align: left;
  }

  .form-group{
    margin: auto;
    display: flex;
    width: 80%;
  }

.form-group textarea{
  min-height: 100px;
}

  .div_img{
    text-align: center;
  }

  .div_img img {
    min-width: 100px;
    width: 100px;
    height: 100px;
    margin: 10px 0px;
  }
  .people {
    width: 90%;
  }

  .main_product {
    flex-direction: column;
    border: none;
    box-shadow: none;
  }
  .card {
    width: 100%;
  }
}
