.people {
  width: 80%;
  background: lightgray;
  box-shadow: 2px 2px 10px black;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 10px;
}
.parte_izq {
  flex: 1;
  display: flex;
}
.parte_izq form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.parte_der {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.div_img {
  width: 100%;
  text-align: center;
}
.link_imagen_people {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}
.rating_container {
  justify-content: left;
  display: flex;
  gap: 5px;
  font-size: 40px;
}
.rating_container .star {
  cursor: default;
  text-decoration: none;
  color: darkgray;
  text-shadow: 2px 2px 5px black;
}
.form-group input {
  background: transparent;
  border: none;
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 0;
}
.form-group label {
  font-size: 24px;
  color: green;
  text-shadow: 1px 1px 4px white;
}
.form-group textarea {
  resize: none;
  width: 90%;
  height: auto;
  min-height: 200px;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border: none;
}
.barra_busqueda {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background: transparent;
}
.barra_busqueda input {
  width: 60%;
  margin-right: 0px;
}
.product_section{
  margin: 20px auto;
  width: 80%;
}
.main_product {
  margin: auto;
  background: lightgray;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px black;
  gap: 20px;
}
.card {
  width: 18%;
  height: 55vh;
  text-align: center;
  align-items: center;
  background: white;
  box-shadow: 5px 5px 18px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
.card .cont_imag{
  width: 100%;
  min-height: 18vh;
  max-height: 18vh;
  overflow: hidden;
  border-radius: 5px solid transparent;
  box-shadow: 1px 1px 5px gray;
  background: transparent;
}
.card .cont_imag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card_body{
  height: 10vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  background: transparent;
}
.card .info_product{
  width: 100%;
  text-align: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  color: seagreen;
}
.mostrar_certificado::before {
  content: "Agroecológico";
  font-style: italic;
  position: absolute;
  top: 12%;
  left: -10%;
  padding: 5px 10px;
  font-size: 10px;
  background: seagreen;
  color: white;
  box-shadow: 2px 2px 20px seagreen;
  transform: rotate(-40deg);
  transform-origin: top left;
}
@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
    text-align: center;
  }
  form .form-control {
    text-align: center;
  }
  .parte_der form div textarea{
   text-align: center;
  }
  .rating_container {
    justify-content: center;
  }
  .div_img img {
    width: 200px;
    height: 200px;
  }
  .people {
    flex-direction: column-reverse;
    text-align: center;
  }
  .barra_busqueda {
    width: 100%;
  }
  .barra_busqueda input {
    width: 80%;
  }
  .main_product {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
