<app-header></app-header>


<section class="people">

  <div class="parte_izq">

    <form [formGroup]="peopleForm" class="peopleForm">

        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" formControlName="peo_name" readonly/>
        </div>

        <div class="form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" formControlName="peo_lastName" readonly/>
        </div>

        <div class="form-group">
          <label>Teléfono</label>
          <input type="text" class="form-control" formControlName="peo_phone" readonly/>
        </div>


        <div class="form-group">
          <label>Ubicación</label>
          <input type="text"class="form-control" formControlName="peo_adress" readonly>
        </div>

    </form>

    <form [formGroup]="providerForm" class="providerForm">

      <div class="div_img">
        <img [src]="link_imagen_people" alt="imagen" class="link_imagen_people" />
      </div>

    <div class="form-group">
      <label for="">Ranking</label>
      <div class="rating_container">
        <a class="star" [ngStyle]="{'color': valor_ranking_start > 0 || valor_ranking_start == 1 ?'gold' : 'darkgray'}" >&#9733;</a>
        <a class="star" [ngStyle]="{'color': valor_ranking_start > 1 && valor_ranking_start <6 ? 'gold' : 'darkgray'}" >&#9733;</a>
        <a class="star" [ngStyle]="{'color': valor_ranking_start > 2 && valor_ranking_start <6 ? 'gold' : 'darkgray'}" >&#9733;</a>
        <a class="star" [ngStyle]="{'color': valor_ranking_start > 3 && valor_ranking_start <6 ? 'gold' : 'darkgray'}" >&#9733;</a>
        <a class="star" [ngStyle]="{'color': valor_ranking_start > 4 && valor_ranking_start <6 ? 'gold' : 'darkgray'}" >&#9733;</a>
      </div>
      <input type="text" formControlName="prov_ranking" class="form-control" hidden/>
    </div>

    <div class="form-group">
      <label for="">Asociación</label>
      <input class="form-control" type="text" formControlName="prov_group" readonly />
    </div>
    <div class="form-group description">
      <label for="">descripcion</label>
      <br>
      <textarea formControlName="prov_description" readonly></textarea>
    </div>

  </form>
</div>

</section>



<section class="product_section">


  <h3 style="width: 100%; color:seagreen"><strong>Productos asociados al productor</strong></h3>

  <div class="main_product">



    <div class="card" *ngFor="let item of productArray">
      <div class="cont_imag">
        <img [src]="item.pro_image" class="card-img-top" alt="" />
      </div>

      <div class="card_body">
        <h5 class="card-title">
          <strong>{{ item.pro_name }}</strong>
        </h5>
      </div>
      <div class="info_product">
        <li class="list-group-item">
          Unidad: <span> {{ item.pro_unit }} </span>
        </li>

        <li class="list-group-item">
          Ubicación:
          <span>
            {{ item.peo_adress }}
          </span>
        </li>
        <li class="list-group-item" *ngIf="item.pro_price <= 0">
          <span style="font-size: 30px">Trueque</span>
        </li>
        <li class="list-group-item" *ngIf="item.pro_price > 0">
          <span style="font-size: 30px">$ {{ item.pro_price }} </span>
        </li>
      </div>
      <div class="card-body" style="width: 100%">
        <a
          style="width: 90%"
          class="btn btn-success"
          (click)="verproductoIndividual(item.product_id)"
          >
          ver
          </a
        >
      </div>

      <div *ngIf="item.pro_certs == 'certificado'" class="mostrar_certificado">

    </div>

    </div>
  </div>



</section>




