.container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightgray;
  box-shadow: 2px 2px 10px black;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 80%;
  margin: auto;
}

.form-group {
  background: transparent;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.boton_style {
  margin-top: 10px;
  width: 100%;
}

#checklistProductor {
  display: none;
}

#tipoSolicitud:focus {
  outline: none;
}

#tipoSolicitud[value="serProductor"]:focus+#checklistProductor {
  display: block;
}


@media (max-width: 750px) {
  .container {
    width: 90%;
  }
}
