<app-header></app-header>

<div class="container" aria-readonly="false">
  <h1>Enviar solicitud a un administrador (a)</h1>

  <div class="lado-izq" *ngFor="let item of requestArray">
    <form [formGroup]="requestForm"
      (ngSubmit)="guardarRequest(requestForm.value)">

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" value="{{ item.peo_name }} {{ item.peo_lastname }}"
          class="form-control" readonly />
      </div>

      <div class="form-group">
        <label for="req_type">Tipo de Solicitud</label>
        <input type="text"
          *ngIf="item.use_rol === 'usuario'"
          class="form-control" readonly formControlName="req_type" />

        <input type="text"
          *ngIf="item.use_rol === 'productor' || item.use_rol === 'admin'"
          class="form-control" readonly formControlName="req_type" />

        <div class="form-group">
          <label for="req_description">Descripción</label>
          <input type="text"
            placeholder="Ingrese una descipción de su solucitud"
            class="form-control" formControlName="req_description">
        </div>

        <div class="form-group" *ngIf="item.use_rol === 'productor'"
          id="checklistVisitaCertificacion">
          <label for="checklist">Checklist para Visita de Certificación</label>

          <app-certification></app-certification>

        </div>

        <input type="submit" class="btn btn-primary boton_style" value="Enviar">

      </div>

    </form>
  </div>
