<app-header></app-header>

<div class="container" aria-readonly="false">
  <h1>Enviar solicitud a un administrador (a)</h1>

  <form *ngFor="let item of requestArray">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" value="{{ item.peo_name }} {{ item.peo_lastname }}"
        class="form-control" readonly />
    </div>

    <div class="form-group">
      <label for="nombre">Descripción</label>
      <input type="text" placeholder="Ingrese una descipción de su solucitud"
        class="form-control" >
    </div>

    <div class="form-group">
      <label for="tipoSolicitud">Tipo de Solicitud</label>
      <input type="text" value="Ser productor" *ngIf="item.use_rol === 'usuario' || item.use_rol === 'admin'"
        class="form-control" readonly />

        <input type="text" value="Certificar producto (s)" *ngIf="item.use_rol === 'productor' || item.use_rol === 'admin'"
        class="form-control" readonly />

      <div class="form-group" *ngIf="item.use_rol === 'productor'"
        id="checklistVisitaCertificacion">
        <label for="checklist">Checklist para Visita de Certificación</label>
        <ul class="list-group">
          <li class="list-group-item">
            <input type="checkbox" id="checklist4" name="checklist[]"
              value="checklist4">
            <label for="checklist4">Cumple con los requisitos mínimos de
              producción</label>
          </li>
          <li class="list-group-item">
            <input type="checkbox" id="checklist5" name="checklist[]"
              value="checklist5">
            <label for="checklist5">Tiene experiencia en la producción de
              contenido audiovisual</label>
          </li>
          <li class="list-group-item">
            <input type="checkbox" id="checklist6" name="checklist[]"
              value="checklist6">
            <label for="checklist6">Posee un portafolio de trabajos que
              demuestren su talento</label>
          </li>
        </ul>
        <button type="submit" class="btn btn-primary"
          style="float: right;">Calcular</button>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>

    </div>
