<app-header></app-header>

<h1 style="width: 100%; text-align:center; margin:10px; color:seagreen; text-shadow: 1px 1px 1px black;">
  Enviar solicitud a un administrador
</h1>

<div class="container" aria-readonly="false">


    <form [formGroup]="requestForm" *ngFor="let item of requestArray"
      >

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" value="{{ item.peo_name }} {{ item.peo_lastname }}"
          class="form-control" readonly />
      </div>

      <div class="form-group">
        <label for="req_type">Tipo de Solicitud</label>
        <input type="text"
          *ngIf="item.use_rol === 'usuario'"
          class="form-control" readonly formControlName="req_type" />

        <input type="text"
          *ngIf="item.use_rol === 'productor' || item.use_rol === 'admin'"
          class="form-control" readonly formControlName="req_type" />

        <div class="form-group">
          <label for="req_description">Descripción *</label>
          <input type="text"
            placeholder="Ingrese una descipción de su solucitud"
            class="form-control" formControlName="req_description">
            <div *ngIf="requestForm.get('req_description')?.touched && requestForm.get('req_description')?.errors?.['required']" class="alert alert-danger">
              la descripción es necesaria
            </div>
            <div *ngIf="requestForm.get('req_description')?.touched && requestForm.get('req_description')?.errors?.['maxlength']" class="alert alert-danger">
              la descripción es no debe ser tan extensa
            </div>
        </div>

        <input type="button" class="btn btn-success boton_style" (click)="guardarRequest(requestForm.value)" value="Enviar">

      </div>

      <br>

      <div class="form-group" *ngIf="item.use_rol === 'productor'"
          id="checklistVisitaCertificacion">
          <label for="checklist">Requerimientos para tener una idea de si sus productos cumplen con algunos criterios de evaluación para certificarlos</label>

          <input type="button" class="btn btn-outline-dark" (click)="cambiarVerCheckList()" value="ver requerimientos">
          <app-certification [hidden]="bandera_checklist"></app-certification>

        </div>

    </form>

