
<app-loading *ngIf="!bandera_loading"></app-loading>

<div class="header_inp" *ngIf="bandera_loading">
  <app-header></app-header>
</div>


<h1 *ngIf="bandera_loading" style="width: 100%; text-align:center; margin:10px; color:seagreen; text-shadow: 1px 1px 1px black;">
  Productos
</h1>

<nav class="submenu"  *ngIf="bandera_loading && RolUser !== 'usuario'">
  <ul>
    <li class="items" (click)="navProductos()">Productos</li>
    <li class="items" (click)="navMisProductos()" >Mis productos</li>
    <li class="items" (click)="navSubirProducto()" >Subir producto</li>
  </ul>
</nav>


<div class="barra_busqueda" *ngIf="bandera_loading">

  <select class="form-select" id="filtros" (change)="filtrosProductos()" >
    <option value="none">Organizar</option>
    <option value="nombre">Nombre</option>
    <option value="menor">Precio de menor a mayor</option>
    <option value="mayor">Precio de mayor a menor</option>
    <option value="ubicacion" hidden>Ubicación</option>
    <option value="certificado">Productos certificados</option>
  </select>

  <input
  class="form-control me-3"
  type="search"
  [(ngModel)]="busqueda_clave"
  (input)="barraBusquedaProductos()"
  placeholder="🔍 Buscar producto"
  aria-label="Search"
/>

<input type="button"  (click)="navfiltrarPorUbicacion()" class="btn btn-outline-dark" value="Buscar ubicaciones">

</div>

<section *ngIf="bandera_loading">
  <div class="main_product">
    <div class="card" *ngFor="let item of productArray" (click)="verproductoIndividual(item.product_id)">
      <div class="cont_imag">
        <img [src]="item.pro_image" class="card-img-top" alt="" />
      </div>

      <div class="card_body">
        <h5 class="card-title">
          <strong>{{ item.pro_name }}</strong>
        </h5>
      </div>
      <div class="info_product">
        <li class="list-group-item">
          Unidad: <span> {{ item.pro_unit }} </span>
        </li>

        <li class="list-group-item">
          Ubicación:
          <span>
            {{ item.peo_adress }}
          </span>
        </li>
        <li class="list-group-item" *ngIf="item.pro_price <= 0">
          <span style="font-size: 30px">Trueque</span>
        </li>
        <li class="list-group-item" *ngIf="item.pro_price > 0">
          <span style="font-size: 30px">$ {{ item.pro_price }} </span>
        </li>
      </div>
      <div class="card-body" style="width: 100%">
        <a
          style="width: 90%"
          class="btn btn-success"
          (click)="verproductoIndividual(item.product_id)"
          >
          ver
          </a
        >
      </div>

      <div *ngIf="item.pro_certs == 'certificado'" class="mostrar_certificado">

    </div>

    </div>
  </div>

</section>
