<app-header></app-header>

<div class="container">
  <button class="btn btn-primary" (click)="agregarCategory()">Nueva categoría</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of categories" (click)="editarCategory(item.id)">
        <td>{{ item.cat_name }}</td>
        <td>{{ item.cat_description }}</td>
        <td> {{  item.cat_image}}</td>
      </tr>
    </tbody>
  </table>
</div>
