
*{
  padding: 0;
  margin: 0%;
  font-family: Georgia, 'Times New Roman', Times, serif
}


:root{
  --bg-fondo:gray;
  --bg-fondo-hover: rgb(80, 80, 80);
  --color-text: white;
  --fondo-card:rgb(177, 167, 167);
}


