<app-loading *ngIf="!bandera_loading"></app-loading>

<div *ngIf="bandera_loading" class="header_inp">
  <app-header></app-header>
</div>


<h1 *ngIf="bandera_loading" style="width: 100%; text-align:center; margin:10px; color:seagreen; text-shadow: 1px 1px 1px black;">
  Productores agroecológicos
</h1>


<section *ngIf="bandera_loading">

  <div class="barra_busqueda">

    <input
    class="form-control me-2"
    type="search"
    [(ngModel)]="busqueda_clave"
    (input)="barraBusquedaProductos()"
    placeholder="Buscar nombre de productor"
    aria-label="Search"
  />

  </div>

<div class="main_provider">
  <div *ngFor="let provider of providerArray;" class="provider" (click)="navEditarProveedor(provider.provider_id || 0)">
    <div class="imagen">
      <img [src]="provider.peo_image" alt="Imagen">
    </div>
    <div class="informacion">
      <h3>{{provider.peo_name}} {{provider.peo_lastname}}</h3>
      <h5><span style="color: black;">Asosiación</span> {{provider.prov_group}}</h5>
      <h5><span style="color: black;">Ubicación</span>: {{provider.peo_adress}}</h5>
      <div class="rating_container">
        <a class="star" [ngStyle]="{'color': provider.prov_ranking > 0 || provider.prov_ranking == 1 ?'gold' : 'darkgray'}"  >&#9733;</a>
        <a class="star" [ngStyle]="{'color': provider.prov_ranking > 1 && provider.prov_ranking <6 ? 'gold' : 'darkgray'}" >&#9733;</a>
        <a class="star" [ngStyle]="{'color': provider.prov_ranking > 2 && provider.prov_ranking <6 ? 'gold' : 'darkgray'}" >&#9733;</a>
        <a class="star" [ngStyle]="{'color': provider.prov_ranking > 3 && provider.prov_ranking <6 ? 'gold' : 'darkgray'}">&#9733;</a>
        <a class="star" [ngStyle]="{'color': provider.prov_ranking > 4 && provider.prov_ranking <6 ? 'gold' : 'darkgray'}" >&#9733;</a>
      </div>
    </div>
    <div class="description">
      <h5>Descripción</h5>
      <p>{{ provider.prov_description }}</p>
    </div>
    <div class="acciones">
     <a (click)="navEditarProveedor(provider.provider_id || 0)">
    Ver más
    </a>
    </div>
  </div>
</div>
</section>
