.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.productor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
  max-width: 300px; /* Ajusta según sea necesario */
}

.imagen {
  width: 100%;
  height: auto;
}

.informacion {
  margin-top: 10px;
}

.estrellas {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.acciones {
  margin-top: 10px;
}

.ver-perfil {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (min-width: 768px) {
 .productor {
    flex-direction: row;
    align-items: center;
  }

 .imagen {
    width: 50px; /* Ajusta según sea necesario */
    height: auto;
  }

 .informacion {
    margin-left: 20px;
  }
}
