/* Estilos generales */
.main_provider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.barra_busqueda{
  width: 90%;
  margin: auto;
}

.provider {
  display: flex;
  border: 2px solid transparent;
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
  background-color: lightgray;
  box-shadow: 3px 2px 8px gray;
  padding: 10px;
  border-radius: 10px;
}

.imagen{
  flex: 2;
  background: transparent;
  text-align: center;
  overflow: hidden;
}

/* Estilos para la imagen */
.imagen img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

/* Estilos para la información */
.informacion {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.informacion h3{
  text-shadow: 1px 2px 3px seagreen;
}

.description{
  flex: 4;
  text-align: center;
  margin: auto;
}

.description h5{
  text-align: center;
  font-weight: bold;
}

.description p{
  text-align: center;
  color:black;
}

.acciones {
  flex: 2;
  margin: auto;
  text-align: center;
}

.acciones a{
  color: white;
  cursor: pointer;
}

.rating_container{
  display: flex;
  gap: 5px;
  font-size: 36px;
  margin: auto;
}

.star{
  cursor: default;
  text-decoration: none;
  color: darkgray;
  text-shadow: 2px 2px 5px black;
}

@media (max-width: 600px) {
  .header_inp{
    margin: 0;
    }

    .main_provider{
     flex-direction: column;
     width: 90%;
    }

  .provider {
     flex-direction: column;
     align-items: center;
   }

  .informacion,
  .description,
  .acciones {
    padding: 0 5px;
    text-align: center;
     flex: 1;
   }

   .imagen{
    flex: 2.1;
   }

   .imagen img {
    width: 150px;
    height: 150px;
  }

  .rating_container {
     font-size: 24px;
   }

 }
