/* Estilos generales */
.main_provider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.provider {
  display: flex;
  border: 2px solid seagreen;
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
  background-color: white;
  box-shadow: 3px 2px 8px darkgreen;
  padding: 10px;
}

.imagen{
  flex: 2;
  background: transparent;
  text-align: center;
  overflow: hidden;


}

/* Estilos para la imagen */
.imagen img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

/* Estilos para la información */
.informacion {
  flex: 2;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.informacion p {
  font-size: 18px;
}

.description{
  flex: 4;
  text-align: center;
  margin: auto;
}

.description h5{
  text-align: center;
  font-weight: bold;
}

.acciones {
  flex: 2;
  margin: auto;
  text-align: center;
}

.acciones a{
  color: white;
  cursor: pointer;
}


