<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of checkList">
          <input type="checkbox" [id]="item.id" (change)="onCheckboxChange($event)" name="checklist[]"
                value="{{item.id}}">
          <label [for]="item.id">{{item.label}}</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-primary" (click)="calculateResult()">Calcular</button>
    </div>
  </div>
</div>
