
.rating_container{
  display: flex;
  gap: 5px;
  font-size: 80px;

}


.star{
  cursor: pointer;
  text-decoration: none;
  color: darkgray;
}


@media (max-width: 768px) {
.rating_container{
  font-size: 40px;
}
}
