.container_login {
  height: 100vh;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_login img {
  width: 100%; /* Ajusta el ancho para que sea responsive */
  max-width: 600px; /* Máximo ancho para dispositivos grandes */
  margin-bottom: 40px;
}

.container_login button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 45px;
  width: 100%; /* Ajusta el ancho para que sea responsive */
  max-width: 200px; /* Máximo ancho para dispositivos grandes */
  margin: 10px 0;
}

.container_login button a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
 .container_login img {
    max-width: 90%; /* Ajusta el ancho máximo para dispositivos móviles */
  }

 .container_login button {
    max-width: 80%;
  }

  .container_login{
    margin: 10px auto;
  }
}
