.mm_main{
  height: 100vh;
}

.principal{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.container_main{
  flex: 3;
  background: transparent;
}

.main_second img{
  width: 200px;
  height: auto;
  object-fit: cover;
}


.main_buttons{
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.second_main{
  padding: 0px 30px;
}

p{
  padding: 0px 30px;
  color: gray;
  font-size: 20px;
}


.color_letras{
  background: linear-gradient(to right, seagreen, rgb(166, 235, 169));
  background-clip: text;
}



h4{
  text-align: center;
  font-weight: bold;
  padding: 30px 150px;
  font-size: 35px;
  color: transparent;
 
}


.btn_productos{
  padding: 60px 0px;
  background: transparent;
  text-align: center;
}

.btn_productos button{
  width: 250px;
  height: 50px;
}


.organizaciones{
  padding: 20px 30px;
  background: white;
}

.aliados{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aliados img{
  width: 150px;
  height: 80px;
  object-fit: contain;
}

.aliados .logo_fup{
  width: 200px;
  transform: scale(1.6);
}




@media (max-width: 988px) {
  .principal {
    padding: 20px;
  }

  .container_main {
    flex: 1;
    padding: 20px;
  }

  .main_second img {
    width: 150px;
    height: auto;
  }

  .main_buttons {
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
  }

  p {
    font-size: 18px;
    padding: 0 20px;
  }

  h4 {
    font-size: 28px;
    padding: 20px 80px;
  }

  .btn_productos button {
    width: 200px;
    height: 45px;
  }
}

/* Ajuste para móviles */
@media (max-width: 480px) {
  .principal {
    padding: 15px;
  }

  .container_main {
    padding: 15px;
  }

  .main_second img {
    width: 100px;
    height: auto;
  }

  .main_buttons {
    flex: 3;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .main_buttons button{
    font-size: 14px;
  }

  .second_main, p {
    padding: 0 15px;
    font-size: 16px;
  }

  h4 {
    font-size: 24px;
    padding: 10px 40px;
  }

  .btn_productos {
    padding: 40px 0;
  }

  .btn_productos button {
    width: 150px;
    height: 40px;
  }
}