
<div class="container_login">
  <img src="../../../../assets/img/logoVF.png" alt="logo" />

  <button class="btn btn-success" (click)="navigateToLogin()">Ingresar</button>

  <button class="btn btn-primary" (click)="navigateToRegister()">Registrarse</button>
</div>

<div class="main_container">
  <div class="card">
    <strong>¿Qué es el Mercado Agroecológico 4.0?</strong>
    <p>
      Es una plataforma tecnológica que conecta a productores agroecológicos
      con consumidores finales, permitiéndoles comercializar sus productos
      de manera directa, justa y transparente
    </p>
  </div>

  <div class="card">
    <strong>¿Cómo funciona?</strong>
    <ul>
      <li>Conecta a familias productoras y consumidores</li>
      <li>Promueve el agroecología</li>
      <li>Fomenta el intercambio de saberes</li>
      <li>Visibiliza a los productores</li>
    </ul>
  </div>

  <div class="card">
    <strong>¿Quiénes participan?</strong>
    <ul>
      <li>Federación Campesina del Cauca</li>
      <li>Fundación Mambrú Internacional</li>
      <li>Corporación Gentes del Sur</li>
    </ul>
  </div>

  <div class="card">
    <strong>¿Por qué es importante?</strong>
    <ul>
      <li>
        Ofrece una alternativa viable y sostenible a la agricultura
        industrial
      </li>
      <li>
        Promueve el comercio justo y directo, beneficiando a las familias
        productoras y dinamizando las economías locales
      </li>
      <li>
        Facilita el acceso a productos de alta calidad, libres de químicos y
        producidos de manera responsable
      </li>
      <li>Contribuye a la soberanía alimentaria</li>
    </ul>
  </div>
</div>

