<div class="principal">
  <div class="container_main">
    <div class="main_first">
      <h1>Mercado agroecológico 4.0</h1>
      <p>
        Es una estrategia de comercialización de productos con prácticas
        agroecológicas cosechados y transformados localmente en los municipios de
        Popayán, Timbío y Cajibío. Este canal te permitirá la adquisición directa
        de productos frescos, transformados, artesanales y para el cuidado
        personal, sin intermediaciones, a precios justos y fortaleciendo el tejido
        social agroalimentario.
      </p>
      <h3>
        Únete y contribuye al escalamiento de la agroecología en el Valle de
        Pubenza.
      </h3>
    </div>

    <div class="main_second">
      <img src="../../../../assets/img/logoVF.png" alt="logo" class="image" />
    </div>
  </div>

  <div class="main_buttons">
    <button class="btn btn-light" (click)="navigateToLogin()" >Ingresar</button>
    <button class="btn btn-light" (click)="navigateToRegister()">Registrarse</button>
  </div>
</div>






