<app-header></app-header>

<div class="container">

  <div class="container_imagen">
<div [hidden]="!bandera_imagen_subida" style="margin: 10px auto;">
    <img
          id="mostrar_imagen"
        [src]="link_imagen_subida"
          alt=" "
          style="max-width: 100%"
        />
      </div>
<div class="form-group">
  <label for="pro_image">Elegir imagen</label>
  <input class="form-control" type="file" (change)="onFileSelected($event)"  value="Subir imagen">
</div>
  </div>


  <form [formGroup]="productForm" (ngSubmit)="guardarProducto(productForm.value)">


    <div class="formulario_style">



      <div class="form-group">
        <label for="pro_name">Nombre:</label>
        <input
          id="pro_name"
          type="text"
          formControlName="pro_name"
          class="form-control"
          placeholder="ingrese el nombre de su producto"
        />
        <div *ngIf="productForm.get('pro_name')?.touched && productForm.get('pro_name')?.errors?.['required']"  class="alert alert-danger">
          El Nombre del producto es requerido
        </div>
        <div *ngIf="productForm.get('pro_name')?.touched && productForm.get('pro_name')?.errors?.['maxlength']"  class="alert alert-danger">
          El Nombre del producto no debe ser tan extenso
        </div>

      </div>

      <div class="form-group">
        <label for="pro_unit">Unidad de venta:</label>

        <select formControlName="pro_unit" class="form-select">
          <option value="">Seleccione</option>
          <option value="Libra">Libra</option>
          <option value="Kg">Kilogramo</option>
          <option value="Caja">Caja</option>
          <option value="Lote">Lote</option>
          <option value="otra">Otra</option>
        </select>

        <div *ngIf="productForm.get('pro_unit')?.touched && productForm.get('pro_unit')?.errors?.['required']" class="alert alert-danger">
          Seleccione una unidad de medida valida
        </div>
      </div>

      <div class="form-group">
        <label for="pro_type">tipo de venta:</label>
        <select formControlName="pro_type" id="pro_type" class="form-select">
          <option value="venta">Venta</option>
          <option value="trueque">Venta / Trueque</option>
          <option value="venta o trueque">Trueque</option>

        </select>
      </div>

      <div class="form-group">
        <label for="pro_price">Precio: (COP)</label>
        <input
          id="pro_price"
          type="number"
          formControlName="pro_price"
          class="form-control"
          placeholder="poner el precio sin puntos ni comas"
        />
        <div *ngIf="productForm.get('pro_price')?.touched && productForm.get('pro_price')?.errors?.['required']" class="alert alert-info">
          El precio del producto es requerido, si es trueque ponga 0 (cero)
        </div>
        <div *ngIf="productForm.get('pro_price')?.touched && productForm.get('pro_price')?.errors?.['pattern']" class="alert alert-danger">
          Ingrese el precio solo con números
        </div>
      </div>




      <div class="form-group" hidden>
        <label for="pro_certs">Certificados:</label>
        <input
          id="pro_certs"
          type="text"
          formControlName="pro_certs"
          class="form-control"
         />
      </div>



      <div class="form-group">
        <label for="pro_description">Descripción:</label>
        <input
          formControlName="pro_description"
          class="form-control"
          placeholder="Agregue una descripción de su producto">

          <div *ngIf="productForm.get('pro_description')?.touched && productForm.get('pro_description')?.errors?.['required']" class="alert alert-danger">
            Es necesario poner una descripción sobre el producto
          </div>
      </div>

      <div class="form-group" hidden>
        <label for="pro_status">Estado:</label>
        <input
          id="pro_status"
          type="number"
          formControlName="pro_status"
          class="form-control"
        />
      </div>

      <div class="form-group" hidden>
        <label for="provider_id">Proveedor ID:</label>
        <input
          id="provider_id"
          type="number"
          formControlName="providers_id"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="categories_id">Categoria: </label>
        <select class="form-select" formControlName="categories_id">
          <option value=''>seleccione</option>
          <option *ngFor="let item of fkCategoryList" [value]="item.id">
            {{ item.cat_name }}
          </option>
        </select>
        <div *ngIf="productForm.get('categories_id')?.touched && productForm.get('categories_id')?.errors?.['required']" class="alert alert-danger">
          Seleccione una categoria valida
        </div>
      </div>


    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>

</div>
