

<div>
  <h3>Recuperar contraseña </h3>

  <div class="container_1" aria-readonly="false">

    <div>
      <form
        [formGroup]="requestForm">
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input
            type="number"
            placeholder="Ingrese su usuario"
            class="form-control"
            formControlName="use_cc" />
        </div>


        <div class="form-group" *ngIf="bandera_comprobar_user">
          <label for="req_description">Descripción</label>
          <input
            type="text"
            placeholder="Ingrese una descipción de su solucitud"
            class="form-control"
            formControlName="req_description" />
        </div>

        <div class="container_boton">

          <input
            type="btn" (click)="nvRegresar()"
            class="btn btn-dark boton_style"
            value="Volver" />

          <input
          *ngIf="!bandera_comprobar_user"
          type="submit"
          class="btn btn-primary boton_style"
          value="Comprobar usuario"
          (click)="evaluarCuentaUsuario()" />

          <input *ngIf="bandera_comprobar_user"
            type="submit"
            class="btn btn-success boton_style"
            value="Enviar Solicitud"
            (click)="enviarSolicitudContrasena(requestForm.value)" />


            <input *ngIf="bandera_comprobar_user"
            type="submit"
            class="btn btn-info boton_style"
            value="Recuperar con mí Correo"
            (click)="enviarCorreoElectronico()" />
        </div>

      </form>

    </div>
  </div>
  <div class="comentarios">
    <label for="text">

      <strong>Para recuperar su contraseña hay 2 opciones:</strong>
      <ul>
        <li>Enviar solicitud a un administrador (Su nueva contraseña se enviara por whatsApp)
          </li>
        <li>Enviar un correo electrónico (Tiempo de respuesta rápido por el correo de registro)</li>
      </ul>
    </label>
  </div>

</div>
