
  <div class="container" aria-readonly="false">
    <h3>Enviar solicitud a un administrador para recuperar contraseña</h3>

    <div >
      <form
        [formGroup]="requestForm"

      >
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input
            type="number"
            placeholder="Ingrese su usuario"
            class="form-control"
            formControlName="use_cc"
          />
        </div>

        <div class="form-group">
          <label for="con_usuario">Confirmar usuario</label>
          <input
            type="number"
            placeholder="Confirme su usuario"
            class="form-control"
            formControlName="use_cc_conf"
          />
        </div>


          <div class="form-group" *ngIf="bandera_comprobar_user">
            <label for="req_description">Descripción</label>
            <input
              type="text"
              placeholder="Ingrese una descipción de su solucitud"
              class="form-control"
              formControlName="req_description"
            />
          </div>
            <input style="margin-top: 10px;"
            *ngIf="!bandera_comprobar_user"
            type="submit"
            class="btn btn-primary boton_style"
            value="Comprobar usuario"
            (click)="evaluarCuentaUsuario()"
          />

          <input style="margin-top: 10px;"
          *ngIf="bandera_comprobar_user"
            type="submit"
            class="btn btn-success boton_style"
            value="Enviar Solicitud"
            (click) ="enviarSolicitudContrasena(requestForm.value)"
          />

      </form>

      <input style="margin-top: 10px;"
      type="btn"
      class="btn btn-dark"
      value="Volver"
    />

    </div>
  </div>
  <div class="comentarios">
    <label for="text"
      >El tiempo de respuesta puede variar, un administrador debe ver tu
      petición y una vez lo haga enviará una respuesta a tu número de
      teléfono de Whatsapp
    </label>
  </div>

