section {
  background: lightgray;
  padding: 10px;
  margin: 20px auto;
}

section form {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  width: 100%;
}


/*parte izquierda contenido */
.parte_izquierda {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: transparent;

}


.parte_izquierda div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}


/*parte derecha */
.parte_derecha {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  gap: 10px 0px;
}

.parte_derecha div{
background: transparent;
display: flex;
flex-direction: column;
align-items: center;
}

.parte_derecha div img {
  width: 250px;
  height: 240px;
  border-radius: 100%;
  box-shadow:  2px 2px 10px black;
}


/*botones para navegar*/

.botones_navegacion{
  background: transparent;
  display: flex;
  justify-content: space-around;
  padding: 5px;
box-shadow: 2px 2px 10px black;
}


.cont_btn{
  display: flex;
  align-items: center;
text-decoration: underline;
font-size: 24px;
transition: all 0.3s ease-in;

}

.cont_btn:hover{
  color: seagreen;
  text-decoration: none;

}

@media (max-width: 768px) {
  section form {
    padding: 5px 0px;
    margin-top: 20px;
    flex-direction: column;
  }
 .parte_izquierda,.parte_derecha {
    flex: 1;
  }

  .parte_derecha, .parte_izquierda div input, select{
    text-align: center;
  }

  /* Ajustar el tamaño de las imágenes en la parte derecha */
 .parte_derecha div img {
    width: 120px;
    height: 120px;
  }

  /* Ajustar los botones de navegación para que se muestren uno debajo del otro */
 .botones_navegacion {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
}
