<app-header></app-header>

<section class="container">
  <form *ngFor="let item of peopleArray">
    <div class="parte_izquierda">
      <div class="form-group">
        <span>Nombre</span>
        <input type="text" value="{{ item.peo_name }}" readonly />
      </div>

      <div class="form-group">
        <span>Apellido</span>
        <input type="text" value="{{ item.peo_lastname }}" readonly/>
      </div>

      <div class="form-group">
        <span>Correo Electronico:</span>
        <input type="email" value="{{ item.peo_mail }}" readonly/>
      </div>

      <div class="form-group">
        <span>Teléfono</span>
        <input type="number" value="{{ item.peo_phone }}" readonly/>
      </div>

      <div class="form-group">
        <span>Fecha</span>
        <input type="date" value="{{ item.peo_dateBirth }}" readonly/>
      </div>

      <div class="form-group">
        <span>Ubicación</span>
        <input type="text" value="{{ item.peo_adress }}" readonly/>
      </div>
    </div>
    <div class="parte_derecha">
      <div class="form-group">
        <img
        [src]="item.peo_image"
         alt="imagen">
      </div>
      <div class="form-group" *ngIf="item.use_rol === 'admin'">
        <span>Rol</span>
        <select name="" id="" class="form-select">

          <option *ngIf="item.use_rol === 'usuario'" value="usuario">Usuario</option>
          <option *ngIf="item.use_rol === 'productor'" value="productor">Productor</option>
          <option *ngIf="item.use_rol === 'admin'" value="admin">Administrador</option>
        </select>
      </div>
    </div>
  </form>

  <div class="botones_navegacion">
    <input type="button" class="btn btn-primary" value="Volver">
    <input type="button" class="btn btn-success" value="Ver datos de sesion">
    <input type="button" class="btn btn-dark" value="Editar">
  </div>

</section>
