
/*barra de busqueda*/
.barra_busqueda{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background: transparent;
}

.barra_busqueda input{
  width: 60%;
  margin-right: 0px;

}

.title{
  color: seagreen;
  width: 50%;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 10px;
}

section {
  width: 100%;
  height: auto;
  background: transparent;
  padding: 30px;
}

.main_product {
  padding: 30px;
  border: 1.5px solid white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;

}

.card {
  padding: 10px;
  width: 20%;
  height: 400px;
  text-align: center;
  align-items: center;
  background: white;
  box-shadow: 5px 5px 18px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card .cont_imag{
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow: hidden;
}

.card .cont_imag img {
  width: auto;
  height: 100%;

}


span{
  color: seagreen;
}

/*para certificado en caso de cumplirse*/
.mostrar_certificado::before {
  content: "Agroecológico";
  position: absolute;
  top: 12%;
  left: -10%;
  background: seagreen;
  color: white;
  box-shadow: 2px 2px 20px seagreen;
  padding: 5px 10px;
  transform: rotate(-40deg);
  transform-origin: top left;
}


@media screen and (max-width: 768px) {
  .barra_busqueda {
     width: 100%;
   }

  .barra_busqueda input {
     width: 80%;
   }

  .main_product {
     flex-direction: column;
   }

  .card {
     width: 100%;
   }

   .title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 20px;
  }

 }
