
form{
  background: lightgrey;
  box-shadow: 2px 2px 5px black;
  width: 80%;
  height: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.lado-izq{
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.lado-izq img{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
  object-fit: cover;
}

.lado-izq div{
  text-align: center;
}

.lado-izq div h3{
  color: seagreen;
}


.lado-der{
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.lado-der div{
  width: 80%;
  text-align: center;
}


/*estrellas estilos*/


.rating_container{
  justify-content: center;
  display: flex;
  gap: 5px;
  font-size: 40px;

}

.rating_container .star{
  cursor: default;
  text-decoration: none;
  color: darkgray;
  text-shadow: 2px 2px 5px black;
}

.cont_edit{
  flex: 0.3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 3px;
  color: black;
  background: seagreen;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cont_edit span{
  font-size: 24px;
}


.cont_edit:hover{
background: rgb(67, 194, 122);
}


.form-group{
  width: 80%;
}

.lado-izq div label{
  font-size: 24px;
  font-weight: bold;
}

 textarea{
  width: 100%;
  background: white;
  min-height: 20vh;

}




/*RESPONSIVE*/

@media (max-width: 768px) {
  form {
     flex-direction: column;
   }


 }
