
form{
  background: lightgrey;
  box-shadow: 2px 2px 5px black;
  width: 80%;
  height: auto;
  margin: 20px auto;
  display: flex;
  gap: 10px;
}


.lado-izq{
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.lado-izq img{
  width: 45%;
  height: 45%;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 10px black;
}

.lado-izq div{
  text-align: center;
}

.lado-izq div h3{
  color: seagreen;
}


.lado-der{
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.lado-der div{
  width: 80%;
  text-align: center;
}


/*estrellas estilos*/


.rating_container{
  justify-content: center;
  display: flex;
  gap: 5px;
  font-size: 40px;

}

.rating_container .star{
  cursor: default;
  text-decoration: none;
  color: darkgray;
  text-shadow: 2px 2px 5px black;
}

