<section>
  <h2>Bienvenidos a Mercado Agroécologico 4.0</h2>
  </section>

<div class="container">

    <div div class="card-img">

        <img src="../../../../assets/fotos/8.jpg" alt="...">


        <img src="../../../../assets/fotos/2.jpg" alt="...">
        <img src="../../../../assets/fotos/3.jpg" alt="...">


        <img src="../../../../assets/fotos/4.jpg" alt="...">


        <img src="../../../../assets/fotos/10.jpg"  alt="...">

        <img src="../../../../assets/fotos/14.jpg"  alt="...">
    </div>

  </div>


