<app-header></app-header>

<section>
  <form action="">
    <div class="parte_izquierda">
     <Strong>¿Que es la agroecólogia?</Strong>
     <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque facere quasi doloribus laboriosam laudantium. Quae, labore. Qui, placeat nesciunt. Id dolor corrupti iure eligendi ab, exercitationem assumenda voluptate sequi excepturi?
     Veniam quia soluta commodi facere! Labore modi sint neque blanditiis beatae qui quod dicta cumque aliquam. Adipisci qui recusandae saepe cum deserunt ut illum, quas molestiae unde error illo ullam.
     </p>

     <img src="../../../../assets/fotos/11.jpg" alt="imagen" >

     <p>
     Consequatur eius, omnis inventore obcaecati est voluptates quisquam rem natus necessitatibus, culpa laudantium quasi molestiae. Error beatae nihil incidunt ipsum ratione aspernatur excepturi itaque nemo, ad quos optio veritatis! Molestias.
     Quos voluptatibus necessitatibus sunt possimus officia delectus adipisci voluptatem mollitia illum facilis voluptates et odit eaque quisquam ea distinctio suscipit eligendi amet qui illo expedita quam unde, magnam inventore. Soluta?
     Cumque consequuntur adipisci aliquid minus quas temporibus, eligendi vel iste vitae doloremque ducimus, nobis eveniet ipsam harum maxime quidem quod consequatur rerum quae. Aut omnis cumque, culpa exercitationem excepturi ex?
     </p>

     <strong>Sobre mercado agroecólogico 4.0</strong>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorum alias natus voluptatum, fugit recusandae ut officia. Maxime fugiat enim temporibus saepe, tempore ipsa dolorem deserunt qui omnis accusantium error!
     Et pariatur saepe repellat aspernatur rerum harum possimus debitis autem quae, quis laboriosam iste beatae, eos ab explicabo suscipit hic voluptatibus fugit eius. Porro, obcaecati. Totam eos vero eaque at.

     <img src="../../../../assets/fotos/6.jpg" alt="imagen" >

    </div>
    <div class="parte_derecha">
      <strong>Contrución del aplicativo responsivo</strong>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem molestias amet maiores praesentium eos, voluptates minus sit officia earum beatae iure aliquid cupiditate perspiciatis. Architecto illum cumque provident sunt quos.
        Asperiores tempore atque itaque non, et adipisci voluptatem voluptate, minus excepturi sapiente culpa assumenda facere? Voluptate quis eveniet ea perferendis in blanditiis, dolorem id iste saepe architecto totam consectetur ab.
        Labore omnis obcaecati facere eligendi. Veritatis dicta nulla earum, cum tenetur asperiores reprehenderit sunt pariatur dolorem, in aspernatur. Eveniet est non quasi quisquam sunt officiis ducimus, quod maxime consequuntur quas.
      </p>
      <img src="../../../../assets/fotos/1.jpg" alt="imagen" >
      <strong>Servicios de Mercado agroecólogico 4.0</strong>
      <ul>
        <li>Subir productos</li>
        <li>Ver productos</li>
        <li>Certificación de productos agroecólogicos</li>
        <li>Contactar directamente al vendedor</li>
        <li>Filtrar por precio, ubicacion y tipo</li>
      </ul>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque facere quasi doloribus laboriosam laudantium. Quae, labore. Qui, placeat nesciunt. Id dolor corrupti iure eligendi ab, exercitationem assumenda voluptate sequi excepturi?
       Veniam quia soluta commodi facere! Labore modi sint neque blanditiis beatae qui quod dicta cumque aliquam. Adipisci qui recusandae saepe cum deserunt ut illum, quas molestiae unde error illo ullam.
       </p>

       <img src="../../../../assets/fotos/3.jpg" alt="imagen" >

    </div>
  </form>
  <div class="form-group botones" hidden>
    <input href="http://" class="btn btn-success" value="boton">
    <input href="http://" class="btn btn-dark" value="boton">
    <input href="http://" class="btn btn-primary" value="boton">

  </div>
</section>
