<footer class="section footer-classic context-dark bg-image">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand">
                <img class="brand-logo-light" src="assets/img/logo.svg" alt="" width="30%" height="30%"></a>
                <p>Fundación universitaria de Popayán</p>
              </div>
            </div>
            <div class="col-md-4" float="right">
              <h5>Personas participes</h5>
              <dl class="contact-list">
                <dt>nombres:</dt>
                <dd><a>Brandon Yessid Rosero</a></dd>
                <dd><a>Ronald Farid Rengifo</a></dd>
              </dl>
            </div>
           </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
        </div>
      </footer>
