
<img class="brand-logo-light" src="assets/img/logo.svg" alt=""  hidden>

<footer>
<div class="foo_arriba">
  <div class="item_arriba">
    <span>Redes sociales</span>
    <div>

<a href="http://facebook.com"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUJJREFUSEvtld1tAkEMhE0lIZWQdAKVJKkEUknSCVBJst9pZzVrWccTD0j4ZXX+G3vs3dvEnWVz5/zxBLjJ8BpF24jYR8RLRHxHxG/Kdsu+uFcABB5bwreU8Kt9f3Ydtp9kv0TEeyuKc0gFQCAJcKTynYGdug4f2dHR6UfXTSAZgMpxJvjVCkGHzYVEThvdAQLgQY4Z4NwcoAgHHF0cpLITJ9pGcQ7gCSrqnPfcoQpRF2Nenkj0+DC9A3Un3URFV9IFflAHhdMWrdHj4FTPNydU+RwEMDr0DgSQhydqFORrXFH150viABiQDFAB+zwypfJfcjuA9t+5lW5wakPRQP2CiaKR2wEUgBEQqiSgvKHdphuPD0UoZhTpANUTUQ3SN0u7zymZ5pL3HUeq4Hm4tgi9PenOTZ+rMc8fzhp1i+3xKfoHB7taGe0w4REAAAAASUVORK5CYII="/></a>

      <a href="http://instagram.com"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXJJREFUSEvFlc1NRDEMhGeb4ApUAly4UwASVAJI9AGUwQmohJ8DdypY3oc8T1aSzWaFnjaX/YntscdjZ6WFz2rh+NobwJGkK0knkk47VX7E3auku8nHv2eXVgUEfggLHHDuHZIhCWyfJsPbbFwCYPweQc926A9+L2F/nZMqAcicCo5b5TYAL4OaH0kXreRKALKn1Fb2AJPp4XT/Nn1/lHQu6VnSV/zvKmb/EmAdjpTpQ1AqK5tNIveSviUdBP8AYA8Df2cEACeCoxIaaIXdRLVzsEiESue42wCsKAfPbfAddFhp7mEXIAfrNd2Ka9kPA0AJVGxSFT37FwDc04MWRQZHECiKM0QRxlaRFcSnpzQ3Ge6zpHcGIKueTAme989WgGpQonTvG5bfZwQ1LVlZ1aC2VgW8l5mNrCWrKlNcDZqNvC6q9bsBKdOY56L54HiA8q4fWdfYZEU1V0XeP+jf3PcA/Gagsurt2NuTOdLUIZvFK/gFHzRoGdyhE9oAAAAASUVORK5CYII="/></a>



    </div>
  </div>
  <div class="item_arriba">
    <span>Participantes en el proyecto</span>
    <div>Conformado por semilleros de investigacion de la fundacion univesitaria de Popayán</div>
  </div>
  <div class="item_arriba">
    <span>Correo de contacto</span>
    <div>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOZJREFUSEvtldEJwlAMRW830U10E51EnUSdxG6im6hHGonhlbxiK340ICIkOcm9edho4mgm7q8ZkCrsJVpJuki6STo/K/dp9WfCRtIx1nvAVdLC1ZwkbSshNAZgwZBLfnjAvdCMxHU3VYnFQDRn+xiv3hmAnD7JTJK+JasB1uDgfMGr0tQeNhhg2/DtvRptg0q/32npBlwRMmTT4hGfKFkKQHMgu3CCfpO2uzLeDHmDPDBT2YCLiQ286V8BbCpAXA/BA2R6i1EAdj3oHWM0QN8l/QcgTuFNzN5ArMUjLnD+R8uU+4FED3szORlvMzCyAAAAAElFTkSuQmCC"/>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOZJREFUSEvtldEJwlAMRW830U10E51EnUSdxG6im6hHGonhlbxiK340ICIkOcm9edho4mgm7q8ZkCrsJVpJuki6STo/K/dp9WfCRtIx1nvAVdLC1ZwkbSshNAZgwZBLfnjAvdCMxHU3VYnFQDRn+xiv3hmAnD7JTJK+JasB1uDgfMGr0tQeNhhg2/DtvRptg0q/32npBlwRMmTT4hGfKFkKQHMgu3CCfpO2uzLeDHmDPDBT2YCLiQ286V8BbCpAXA/BA2R6i1EAdj3oHWM0QN8l/QcgTuFNzN5ArMUjLnD+R8uU+4FED3szORlvMzCyAAAAAElFTkSuQmCC"/>
    </div>
  </div>
</div>
<div class="foo_abajo">

  <h5>&copy; mercado agroecológico 4.0 </h5>
</div>
</footer>
