form{
  margin: auto;
  width: 90%;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px black;
}
form .form_img{
  flex: 1;
  overflow: hidden;
  padding: 20px;
}
form .form_img img{
  width: 90%;
  max-height: 40vh;
  border-radius: 10px;
  box-shadow: 2px 2px 6px gray;
  object-fit: cover;
}
form .form_info{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form .form_info h5 span{
  color: seagreen;
  font-size: 16px;
}
form .form_whats{
  flex: 1;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .form_whats span{
  display: flex;
  justify-content: center;
}
form .form_whats h4 a{
cursor: pointer;
}
form .form_whats h4{
  color: darkgreen;
}
form .form_btn{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.title{
  color: seagreen;
  width: 80%;
  font-size: 30px;
  margin-bottom: 10px;
}
section {
  width: 90%;
  height: auto;
  margin: auto;
  background: transparent;
  padding: 30px 0px;
}
.main_product {
  background: lightgray;
  box-shadow: 2px 2px 10px black;
  padding: 30px;
  border: 1.5px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;

}
.card {
  width: 18%;
  height: 55vh;
  text-align: center;
  align-items: center;
  background: white;
  box-shadow: 5px 5px 18px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
.card .cont_imag{
  width: 100%;
  min-height: 18vh;
  max-height: 18vh;
  overflow: hidden;
  border-radius: 5px solid transparent;
  box-shadow: 1px 1px 5px gray;
  background: transparent;
}
.card .cont_imag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card_body{
  height: 10vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  background: transparent;
}
.card .info_product{
  width: 100%;
  text-align: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
span{
  color: seagreen;
}

/*para certificado en caso de cumplirse*/
.mostrar_certificado::before {
  content: "Agroecológico";
  font-style: italic;
  position: absolute;
  top: 12%;
  left: -10%;
  padding: 5px 10px;
  font-size: 10px;
  background: seagreen;
  color: white;
  box-shadow: 2px 2px 20px seagreen;
  transform: rotate(-40deg);
  transform-origin: top left;

}
/*para estrellas*/
.component_star{
  width: 80%;
  background: white;
  box-shadow: 5px 5px 18px black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
.component_star input{
  width: 80%;
}
@media (max-width: 768px) {
  .header_inp{
  margin: 0;
  }
  .main_product {
    background: transparent;
    padding: 5px;
  }
  form{
    margin: auto;
    width: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form .form_info{
    text-align: center;
  }
  form .form_btn{
    flex-direction: row;
  }
  .card {
    width: 90%;
  }
  .mostrar_certificado::before {
    padding: 3px 8px;
    font-size: 16px;
  }
  .title{
    font-size: 26px;
    margin: 10px 0px 10px 40px;
  }
}
