nav{
  padding: 10px;
}

nav .logo{
  margin-left: 40px;
}

.navbar {
  position: sticky;
  top: 0px;
}


.dropdown {
  border-radius: 0;
  border: 0;
}

.dropdown-menu {
  background: #ffffff;
  border: 0;
  top: 80%;
  border-radius: 0px 0px 5px 5px;
}

.dropdown-item{
  font-size: 18px;
}

.dropdown-item:hover {
  color: seagreen;
  cursor: pointer;
  text-decoration: underline;
}
/*para cerrar sesion*/
.usuario{
  color: red;
}

.usuario:hover{
  color: lightcoral;
}



/*para dar espacio entre items del menu */
.nav-item{
  margin: 0px 30px;
  font-size: 20px;
}

.nav-link{
  color: black;
}

.nav-link:hover , .nav-link:active{
  color: seagreen;
  text-decoration: underline seagreen;
}


/*para separar del logo*/
.container-fluid{
margin-left: 120px;
}


.nav-item.dropdown.user.dropdown-menu {
  margin-right: 100px;
}

img {
  width: 15%;
  height: auto;
  padding: 5px;
}

.boton:active,
.boton:focus {
  background-color: #24dd6b;
  border-radius: 15px;
}

.custom-dropdown:active,
.custom-dropdown:focus {
  background-color: #24dd6b;
  border-radius: 15px;
}





/* Oculta el menú en dispositivos pequeños */
@media (max-width: 768px) {
.container-fluid{
  margin-left: 0;
}

.navbar {
  position: relative;
}
  .navbar.navbar-collapse {
    display: none;
  }

  .navbar-toggler {
    display: block;
    width: 100%;
  }

  img {
    width: 90%;
    height: auto;
  }

}
