<app-header></app-header>

<section class="container">
  <form action>
    <div class="parte_izquierda">
      <div class="form-group">
        <span>Nombre</span>
        <input type="text" />
      </div>

      <div class="form-group">
        <span>Apellido</span>
        <input type="text" />
      </div>

      <div class="form-group">
        <span>Correo Electronico:</span>
        <input type="email" />
      </div>

      <div class="form-group">
        <span>Teléfono</span>
        <input type="number" />
      </div>

      <div class="form-group">
        <span>Fecha</span>
        <input type="date" />
      </div>

      <div class="form-group">
        <span>Ubicación</span>
        <input type="text" />
      </div>
    </div>
    <div class="parte_derecha">
      <div class="form-group">
        <img
        src="https://image.tmdb.org/t/p/w780/lpoNqJuT20Ivxnbul5x2dLU2XfB.jpg"
         alt="imagen">
      </div>
      <div class="form-group">
        <span>Rol</span>
        <select name="" id="" class="form-select">
          <option value="usuario" >Usuario</option>
          <option value="productor">Productor</option>
          <option value="admin">Administrador</option>
        </select>
      </div>
    </div>
  </form>

  <div class="botones_navegacion">
    <input type="button" class="btn btn-primary" value="Volver">
    <input type="button" class="btn btn-success" value="Ver datos de sesion">
    <input type="button" class="btn btn-dark" value="Editar">
  </div>

</section>
