<app-header></app-header>

<section class="container">

  <form [formGroup]="peopleForm" (ngSubmit)="actualizarPersona(peopleForm.value)">
    <div class="parte_derecha">

        <img [src]="link_imagen_people" alt="imagen"  />
   </div>
    <div class="parte_izquierda">
      <div class="form-group">
        <span>Nombre</span>
        <input type="text" class="form-control" formControlName="peo_name"  readonly/>
      </div>

      <div class="form-group">
        <span>Apellido</span>
        <input
          type="text"
          class="form-control"
          formControlName="peo_lastName"
          readonly
        />
      </div>

      <div class="form-group">
        <span>Correo Electronico:</span>
        <input type="email" class="form-control" formControlName="peo_mail" readonly/>
      </div>

      <div class="form-group">
        <span>Teléfono</span>
        <input type="number" class="form-control" formControlName="peo_phone" readonly/>
      </div>

      <div class="form-group">
        <span>Fecha</span>
        <input
          type="date"
          class="form-control"
          readonly
          formControlName="peo_dateBirth"
        />
      </div>

      <div class="form-group">
        <span>Ubicación</span>
        <input
          name=""
          id="ubicacion"
          class="form-control"
          formControlName="peo_adress"
          readonly
        />

      </div>
    </div>


  </form>
</section>
