<div class="container_main">
  <section class="section1" >

    <div class="agroeco">
      <div class="card">
        <h3>La agroecología</h3>
        <h5> es una perspectiva integral que articula la ciencia, las organizaciones sociales y la práctica agrícola en la construcción de sistemas agroalimentarios sostenibles.</h5>
      </div>




        <div class="card">
          <h5>
      Mercado Agroecológico 4.0 fomenta los principios agroecológicos en la comercialización e intercambio de productos frescos, transformados, artesanales y para el cuidado de la salud.
       </h5>
        </div>


   </div>

   </section>


   <section class="section2">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h3>Diversidad</h3>
          <p> La agroecología propone la diversificación de cultivos y la integración de diferentes especies vegetales y animales para promover la biodiversidad y la salud del suelo</p>
          <img src="../../../../assets/fotos/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <h3>Creación de conocimientos</h3>
          <p> La agroecología promueve la co-creación de conocimientos entre los agricultores, los investigadores y otros actores relevantes para desarrollar soluciones sostenibles y adaptadas a los contextos locales</p>

          <img src="../../../../assets/fotos/11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <h3>Ciclos de nutrientes</h3>
          <p>
            La agroecología busca cerrar los ciclos de nutrientes en los sistemas agrícolas, evitando la pérdida de nutrientes y reduciendo la necesidad de insumos externos
          </p>

          <img src="../../../../assets/fotos/8.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <h3>Reciclaje de energía</h3>
          <p>
            La agroecología busca optimizar el uso de la energía en los sistemas agrícolas, reduciendo la necesidad de combustibles fósiles y otros insumos energéticos
          </p>

          <img src="../../../../assets/fotos/3.jpg" class="d-block w-100" alt="...">
        </div>


        <div class="carousel-item">
          <h3>Sinergias</h3>
          <p>
            La agroecología busca aprovechar las sinergias entre los diferentes elementos del sistema agrícola para mejorar la eficiencia y la resiliencia

          </p>

          <img src="../../../../assets/fotos/7.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <h3>Eficiencia en el uso del agua</h3>
          <p>
            La agroecología busca optimizar el uso del agua en los sistemas agrícolas, reduciendo la necesidad de riego y aumentando la resiliencia frente a la sequía

          </p>

          <img src="../../../../assets/fotos/12.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <h3>Diseño de sistemas complejos</h3>
          <p>
            La agroecología reconoce que los sistemas agrícolas son complejos y dinámicos, y busca diseñar sistemas que sean capaces de adaptarse y evolucionar en respuesta a los cambios del entorno

          </p>

          <img src="../../../../assets/fotos/5.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <h3>Resiliencia</h3>
          <p>
            La agroecología busca promover la resiliencia de los sistemas agrícolas, es decir, su capacidad para resistir y recuperarse de perturbaciones y cambios del entorno

          </p>

          <img src="../../../../assets/fotos/9.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <h3>Participación y empoderamiento</h3>
          <p>
            La agroecología busca fomentar la participación y el empoderamiento de los agricultores y las comunidades locales en la toma de decisiones sobre el uso de la tierra y los recursos naturales

          </p>

          <img src="../../../../assets/fotos/13.jpg" class="d-block w-100" alt="...">
        </div>


        <div class="carousel-item">
          <h3>Solidaridad</h3>
          <p>
            La agroecología busca promover la solidaridad entre los agricultores y las comunidades locales, y entre las diferentes regiones y países

          </p>

          <img src="../../../../assets/fotos/7.jpg" class="d-block w-100" alt="...">
        </div>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

   </section>


   <section class="section3">

    <h2>Fuente tomada de: <a href="https://agriculturawiki.com/">agriculturawiki</a></h2>

   </section>

</div>
