<div class="container_main">
  <section class="section1">
    <div class="agroeco">
      <div class="texto_info">
        <h5 style="color: seagreen; text-align: center;">La agroecología</h5>

        <h5>
          Es una perspectiva integral que articula la ciencia, las organizaciones
          sociales y la práctica agrícola en la construcción de sistemas agroalimentarios sostenibles.
        </h5>
      </div>
      <div class="texto_info">
        <h5>
          Mercado Agroecológico 4.0 fomenta los principios agroecológicos en la
          comercialización e intercambio de productos frescos, transformados,
          artesanales y para el cuidado de la salud.
        </h5>
      </div>
      <div class="barra_color"></div>
    </div>
  </section>

  <section class="section2">
    <h5 style="color: seagreen; text-align: center;">Principios de la agroecología</h5>

    <div class="card-container">
      <!-- Tarjetas con imágenes y textos -->
      <div class="hover-card">
        <div class="hover-card-content">
          <h3 >Diversidad</h3>
          <p>
            La agroecología propone la diversificación de cultivos y la integración
            de diferentes especies vegetales y animales para promover la biodiversidad
            y la salud del suelo.
          </p>
        </div>
        <img src="../../../../assets/fotos/1.jpg" alt="Diversidad">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Creación de conocimientos</h3>
          <p>
            La agroecología promueve la co-creación de conocimientos entre los agricultores,
            los investigadores y otros actores relevantes para desarrollar soluciones
            sostenibles y adaptadas a los contextos locales.
          </p>
        </div>
        <img src="../../../../assets/fotos/11.jpg" alt="Creación de conocimientos">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Ciclos de nutrientes</h3>
          <p>
            La agroecología busca cerrar los ciclos de nutrientes en los sistemas agrícolas,
            evitando la pérdida de nutrientes y reduciendo la necesidad de insumos externos.
          </p>
        </div>
        <img src="../../../../assets/fotos/8.jpg" alt="Ciclos de nutrientes">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Reciclaje de energía</h3>
          <p>
            La agroecología busca optimizar el uso de la energía en los sistemas agrícolas,
            reduciendo la necesidad de combustibles fósiles y otros insumos energéticos.
          </p>
        </div>
        <img src="../../../../assets/fotos/3.jpg" alt="Reciclaje de energía">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Sinergias</h3>
          <p>
            La agroecología busca aprovechar las sinergias entre los diferentes elementos
            del sistema agrícola para mejorar la eficiencia y la resiliencia.
          </p>
        </div>
        <img src="../../../../assets/fotos/7.jpg" alt="Sinergias">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Eficiencia en el uso del agua</h3>
          <p>
            La agroecología busca optimizar el uso del agua en los sistemas agrícolas,
            reduciendo la necesidad de riego y aumentando la resiliencia frente a la sequía.
          </p>
        </div>
        <img src="../../../../assets/fotos/12.jpg" alt="Eficiencia en el uso del agua">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Diseño de sistemas complejos</h3>
          <p>
            La agroecología reconoce que los sistemas agrícolas son complejos y dinámicos,
            y busca diseñar sistemas que sean capaces de adaptarse y evolucionar
            en respuesta a los cambios del entorno.
          </p>
        </div>
        <img src="../../../../assets/fotos/5.jpg" alt="Diseño de sistemas complejos">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Resiliencia</h3>
          <p>
            La agroecología busca promover la resiliencia de los sistemas agrícolas,
            es decir, su capacidad para resistir y recuperarse de perturbaciones
            y cambios del entorno.
          </p>
        </div>
        <img src="../../../../assets/fotos/9.jpg" alt="Resiliencia">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Participación y empoderamiento</h3>
          <p>
            La agroecología busca fomentar la participación y el empoderamiento
            de los agricultores y las comunidades locales en la toma de decisiones
            sobre el uso de la tierra y los recursos naturales.
          </p>
        </div>
        <img src="../../../../assets/fotos/13.jpg" alt="Participación y empoderamiento">
      </div>

      <div class="hover-card">
        <div class="hover-card-content">
          <h3>Solidaridad</h3>
          <p>
            La agroecología busca promover la solidaridad entre los agricultores y
            las comunidades locales, y entre las diferentes regiones y países.
          </p>
        </div>
        <img src="../../../../assets/fotos/7.jpg" alt="Solidaridad">
      </div>
    </div>
    <a href="https://agriculturawiki.com/" target="_blank" style="text-decoration: none; color: seagreen; font-weight: bold; display: block; text-align: center; margin-top: 20px;">
      Información obtenida de AgriculturaWiki
    </a>

    <div class="barra_color"></div>


  </section>

  <div class="organizaciones">
    <p>Organizaciones aliadas: </p>
    <div class="aliados">
      <img src="../../../../assets/logosAsociaciones/fup.png" alt="logo"  class="logo_fup">
      <img src="../../../../assets/logosAsociaciones/fcc.png" alt="logo">
      <img src="../../../../assets/logosAsociaciones/verdupaz.png" alt="logo">
      <img src="../../../../assets/logosAsociaciones/mambru.png" alt="logo">
      <img src="../../../../assets/logosAsociaciones/reddehuertas.png" alt="logo">
      <img src="../../../../assets/logosAsociaciones/tejido.png" alt="logo">
      <img src="../../../../assets/logosAsociaciones/gentesdelsur.png" alt="logo" >
      <img src="../../../../assets/logosAsociaciones/eco.png" alt="logo" >
      <img src="../../../../assets/logosAsociaciones/tull.png" alt="logo" >
    </div>





  </div>
</div>
