/*Organizaciones*/

.organizaciones{
  padding: 20px 30px;
  background: white;
}

.aliados{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aliados img{
  width: 150px;
  height: 80px;
  object-fit: contain;
}

.aliados .logo_fup{
  width: 200px;
  transform: scale(1.6);
}



/* Estilo general del contenedor */
.container_main {
  width: 100%;
  padding: 20px;
}

.barra_color {
  width: 100%; /* Barra de ancho completo */
  height: 5px; /* Altura de la barra */
  background-color: seagreen; /* Color seagreen */
  border-radius: 3px; /* Bordes redondeados */
  margin-top: 20px; /* Espaciado superior */
}


/* Estilo para las tarjetas de la sección 2 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 30px 60px;
}

/* Estilo para cada tarjeta */
.hover-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Efecto hover para la imagen */
.hover-card img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Efecto hover en la tarjeta */
.hover-card:hover img {
  transform: translateY(-3px); /* Traslación hacia arriba */
}

.hover-card-content {
  padding: 20px;
  width: 50%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.hover-card-content h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.hover-card-content p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}


.agroeco{
  padding: 30px 60px;
  
}

.agroeco .texto_info{
  text-align: justify;
  font-size: 14px;
  color: gray;
}

/* Ajustes responsivos */
@media screen and (max-width: 768px) {
  .hover-card {
    flex-direction: column;
    width: 100%;
  }

  .hover-card img {
    width: 100%;
  }

  .hover-card-content {
    width: 100%;
    padding: 15px;
  }
}
