<div class="container-sm">
  <h2 class="text-center">Formulario de registro</h2>
<form [formGroup]="userForm" (ngSubmit)="guardarUser(userForm.value)">
  <div class="data">
    <div class="lado-izq">
      <div class="form-group">
        <label for="nombre">Cédula de ciudadanía *</label>
        <input type="text" class="form-control" id="nombre" formControlName="use_cc" />
      </div>
      <div class="form-group">
        <label for="apellido">Contraseña *</label>
        <input type="password" class="form-control" id="apellido" formControlName="use_password" />
      </div>
      <div class="form-group">
        <label for="email">Confirmar Contraseña *</label>
        <input type="password" class="form-control" id="email" name="confirmar_password" />
      </div>

      <div class="form-group">
        <label for="email">Rol</label>
        <input type="email" class="form-control" formControlName="use_rol" />
      </div>
      <div class="form-group">
        <label for="email">Status</label>
        <input type="number" class="form-control"  formControlName="use_status" />
      </div>

      <div class="form-group">
        <label for="email">Id de la persona</label>
        <input type="number" class="form-control" formControlName="people_id" />
      </div>

      </div>
    </div>


  <input type="submit" class="btn btn-success boton_style" value="Registrarse">
</form>
</div>
