
  <input [(ngModel)]="people_id" name="userId" placeholder="ID de la persona" >

<div class="container-sm">
  <h2 class="text-center">Formulario de registro</h2>
<form > //[formGroup]="peopleForm" (ngSubmit)="guardarPersona(peopleForm.value)"
  <div class="data">
    <div class="lado-izq">
      <div class="form-group">
        <label for="nombre">Cédula de ciudadanía *</label>
        <input type="text" class="form-control" id="nombre" formControlName="use_cc" required/>
      </div>
      <div class="form-group">
        <label for="apellido">Contraseña *</label>
        <input type="password" class="form-control" id="apellido" formControlName="use_password" required/>
      </div>
      <div class="form-group">
        <label for="email">Confirmar Contraseña *</label>
        <input type="password" class="form-control" id="email" name="confirmar_password" required/>
      </div>

      <div class="form-group">
        <label for="email">Rol</label>
        <input type="email" class="form-control" value="usuario" formControlName="use_rol" readonly/>
      </div>
      <div class="form-group">
        <label for="email">Status</label>
        <input type="number" class="form-control" value="1" formControlName="use_status" readonly/>
      </div>

      <div class="form-group">
        <label for="email">Id de la persona</label>
        <input type="number" class="form-control" [(ngModel)]="people_id" formControlName="people_id" readonly/>
      </div>

      </div>
    </div>


  <input type="submit" class="btn btn-success boton_style" value="Registrarse">
</form>
</div>
