h2{
  color: seagreen;
}

.container-sm{
margin-top: 10vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgray;
  box-shadow: 2px 2px 10px black;
  width: 60%;
  min-height: 40vh;
  margin: auto;
}
.data{
  width: 90%;
  padding: 20px 0px;
  background: transparent;

}

.data .lado-izq{
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}





form a{
  float: right;
}

.regresar_btn{
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
}

.boton_style{
  width: 20%;
  margin: 10px;
  padding: 5px;

}


/*RESPONSIVE*/

@media (max-width: 768px) {


  h2{
    font-size: 30px;
  }

  .container-sm{
    margin-top: 20vh;
    }

    form {
      width: 90%;
      min-height: 50vh;
    }

.data{
  width: 90%;
  padding: 20px 10px;
}

.data .lado-izq, .data input{
  font-size: 20px;
}

  .boton_style{
    width: 60%;
    margin: 10px;
    padding: 5px;

  }

}
