h2{
  color: seagreen;
}

.container-sm{
margin-top: 10vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: lightgray;
  margin: 20px;
  padding: 20px;

}

.data .lado-izq{
  flex: 4;
  width: 40%;
  margin: 20px;
  background: transparent;
}





form a{
  float: right;
}

.regresar_btn{
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
}

.boton_style{
  width: 20%;
  margin: 10px;
  padding: 5px;

}


/*RESPONSIVE*/

@media (max-width: 768px) {


  .container-sm{
    margin-top: 20vh;
    }

.data{
  width: 90%;
  padding: 5px;
}

  .boton_style{
    width: 60%;
    margin: 10px;
    padding: 5px;

  }

}
