<app-loading *ngIf="!bandera_loading"></app-loading>


<div *ngIf="bandera_loading" class="container-sm" style="margin-top: 20px;">
  <h2 class="text-center">Formulario de registro</h2>
  <div class="contenedor">
    <div class="data">
      <form [formGroup]="peopleForm">

        <div class="form_cont">
      <div class="lado-izq">

        <div class="form-group">
          <label for="nombre" >Nombre</label>
          <input type="text" placeholder="ingrese su nombre" class="form-control" id="nombre" formControlName="peo_name"/>

          <div *ngIf="peopleForm.get('peo_name')?.touched && peopleForm.get('peo_name')?.errors?.['required']"  class="alert alert-danger">
       El nombre es requerido.
     </div>
     <div *ngIf="peopleForm.get('peo_name')?.touched && peopleForm.get('peo_name')?.errors?.['minlength']"  class="alert alert-danger">
     El nombre debe ser mayor a {{peopleForm.get('peo_name')?.errors?.['minlength']?.requiredLength }} caracteres
    </div>
    <div *ngIf="peopleForm.get('peo_name')?.touched && peopleForm.get('peo_name')?.errors?.['maxlength']"  class="alert alert-danger">
      El nombre debe ser menor a 40 caracteres
     </div>

        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" placeholder="ingrese su apellido" class="form-control" id="apellido" formControlName="peo_lastName"/>
          <div *ngIf="peopleForm.get('peo_lastName')?.touched && peopleForm.get('peo_lastName')?.errors?.['required']"  class="alert alert-danger">
            El apellido es requerido.
          </div>
          <div *ngIf="peopleForm.get('peo_lastName')?.touched && peopleForm.get('peo_lastName')?.errors?.['minlength']"  class="alert alert-danger">
          El apellido debe ser mayor a {{peopleForm.get('peo_lastName')?.errors?.['minlength']?.requiredLength }} caracteres
         </div>
         <div *ngIf="peopleForm.get('peo_lastName')?.touched && peopleForm.get('peo_lastName')?.errors?.['maxlength']"  class="alert alert-danger">
           El apellido debe ser menor a 40 caracteres
          </div>

        </div>
        <div class="form-group">
          <label for="email">correo electronico</label>
          <input type="email" placeholder="ingrese su correo electrónico" class="form-control" id="email" formControlName="peo_mail" />
          <div *ngIf="peopleForm.get('peo_mail')?.touched && peopleForm.get('peo_mail')?.errors?.['required']"  class="alert alert-danger">
            El correo electronico es requerido.
          </div>
          <div *ngIf="peopleForm.get('peo_mail')?.touched && peopleForm.get('peo_mail')?.errors?.['email']"  class="alert alert-danger">
            El correo electronico debe ser valido
          </div>
        </div>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" placeholder="ingrese su número de telefono" formControlName="peo_phone"/>

            <div *ngIf="peopleForm.get('peo_phone')?.touched && peopleForm.get('peo_phone')?.errors?.['required']"  class="alert alert-danger">
              El número de telefono es requerido.
            </div>
            <div *ngIf="peopleForm.get('peo_phone')?.touched && peopleForm.get('peo_phone')?.errors?.['minlength']" class="alert alert-danger">
              El número de teléfono debe tener 10 dígitos.
            </div>
            <div *ngIf="peopleForm.get('peo_phone')?.touched && peopleForm.get('peo_phone')?.errors?.['maxlength']" class="alert alert-danger">
              El número de teléfono debe tener 10 dígitos.
            </div>
            <div *ngIf="peopleForm.get('peo_phone')?.touched && peopleForm.get('peo_phone')?.errors?.['pattern']" class="alert alert-danger">
              Debe ingresar un numero valido
            </div>

          </div>
        <div class="form-group">
          <label for="fecha">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="fecha" formControlName="peo_dateBirth" [max]="minDate"/>
          <div *ngIf="peopleForm.get('peo_dateBirth')?.touched && peopleForm.get('peo_dateBirth')?.errors?.['required']" class="alert alert-danger">
            Seleccione una fecha de nacimiento.
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicación</label>
          <select name="" id="ubicacion" class="form-select" formControlName="peo_adress">
            <option value="">Seleccione</option>
            <option value="Calibío">Calibío</option>
            <option value="Popayán">Popayán</option>
            <option value="Timbío">Timbío</option>
            <option value="El tambo">El Tambo</option>
            <option value="Otra">Otra</option>

          </select>
          <div *ngIf="peopleForm.get('peo_adress')?.touched && peopleForm.get('peo_adress')?.errors?.['required']" class="alert alert-danger">
            Seleccione una ubicación valida
          </div>

        </div>

      </div>

      <div class="lado-der">
        <label for="formFile" class="form-label">Foto de perfil</label>
        <img
          id="mostrar_imagen"
        [src]="link_imagen_subida"
          alt=" "
          style="max-width: 100%"
        />

        <input class="form-control" type="file" (change)="onFileSelected($event)">
      </div>
    </div>
      <div class="boton_style">
        <input type="submit" class="btn btn-dark" (click)="navegateToRegresar()" value="regresar" hidden>

        <input type="submit" class="btn btn-success"  (click)="guardarPersona(peopleForm.value)" value="Siguiente">

       </div>

    </form>
    </div>

  </div>

</div>


